<nav class="navbar navbar-light bg-light p-2">
     <div class="container-fluid">
          <a class="sidebar-toggle" id="sidebarToggle">
               <i class="bi bi-list align-self-center"></i>
          </a>

          <!-- User profile for desktop - will hide on small screens -->
          <div class="dropdown d-none d-sm-inline-block">
               <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/Resources/user-default-image.jpg" class="avatar img-fluid rounded-circle me-1" alt="User" width="40" height="40" /> <span class="text-dark">@Session["UserFirstName"] @Session["UserLastName"]</span>
               </a>
               <div class="dropdown-menu user-dropdown-menu" aria-labelledby="userDropdown">
                   
                    <a class="dropdown-item" href="@Url.Action("LogOut", "Auth")"><i class="bi bi-box-arrow-right" style="font-size: 16px;"></i>&nbsp;&nbsp;Log out</a>
               </div>
          </div>
     </div>
</nav>