<!-- Navigation Bar-->
<header id="topnav">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">

            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="d-none d-sm-block">
                    <form class="app-search bara-cautare" action="/Search" method="post">
                        <div class="app-search-box">
                            <div class="input-group bara-cautare">

                                <input type="text" name="NumeEveniment" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>

                <li class="dropdown notification-list">
                    <a href="~/Home/Index" class=" nav-link waves-effect waves-light">
                        <i class="remixicon-home-5-line"></i>
                        &nbsp Home
                    </a>
                </li>

                <div class="linie-herticala"></div>

                <li class="dropdown notification-list">
                    <a href="~/Evenimente/Index" class=" nav-link waves-effect waves-light">
                        <i class="remixicon-coupon-line"></i>
                        &nbsp Evenimente
                    </a>
                </li>

                <div class="linie-herticala"></div>

               
                <li class="dropdown notification-list">
                    <a href="~/Locations/Index" class=" nav-link waves-effect waves-light">
                        <i class="remixicon-map-pin-line"></i>
                        &nbsp Locații
                    </a>
                </li>

                <div class="linie-herticala"></div>

                <!-- Păstrează doar un singur element Coș -->
                <li class="dropdown notification-list">
                    <a href="#" class=" nav-link waves-effect waves-light">
                        <i class="remixicon-shopping-bag-3-line"></i>&nbsp Coș
                    </a>
                </li>

                <div class="linie-herticala final"></div>

                @{
                    var userEmail = Session["UserEmail"] as string;
                }

                @if (!string.IsNullOrEmpty(userEmail))
                {
                    <li class="dropdown notification-list">
                        <a href="#" class="nav-link waves-effect waves-light">
                            <i class="remixicon-user-3-line"></i> Contul meu
                        </a>
                    </li>
                    <li class="dropdown notification-list">
                        <a href="~/Auth/Logout" class="nav-link waves-effect waves-light">Logout</a>
                    </li>
                }
                else
                {
                    <li class="dropdown notification-list ">
                        <a href="~/Auth/SignIn" class="nav-link waves-effect waves-light log_in">
                            Log In
                        </a>
                    </li>

                    <li class="dropdown notification-list ">
                        <a href="~/Register/Index" class=" nav-link waves-effect waves-light sing_up">
                            Sign Up
                        </a>
                    </li>
                }

            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="~/Home/Index" class="logo text-center">
                    <span class="logo-lg">
                        <img class="logo_nagigatie" src="~/Content/assets/images/logo-light.png" alt="" height="110">
                        <!-- <span class="logo-lg-text-light">Xeria</span> -->
                    </span>
                    <span class="logo-sm">
                        <!-- <span class="logo-sm-text-dark">X</span> -->
                        <img src="~/Content/assets/images/logo-sm.png" alt="" height="34">
                    </span>
                </a>
            </div>

            <!-- Text dupa logo -->
            <ul>
                <a class="text-after-logo" href="~/Home/Index">
                    Ticket Express
                </a>

            </ul>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end Topbar -->
    <!-- end navbar-custom -->

</header>
<!-- End Navigation Bar-->
<!-- ============================================================== -->