@{
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row mb-4">
     <div class="col-xl-12 col-xxl-12 d-flex">
          <div class="w-100">
               <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                         <div class="card border-0 mt-4">
                              <div class="card-body">
                                   <div class="row">
                                        <div class="col mt-0">
                                             <h5 class="card-title">Bilete vândute</h5>
                                        </div>
                                        <div class="col-auto">
                                             <div class="stat text-primary">
                                                  <!-- <i class="bi bi-check ml-2 align-middle"> -->
                                                  <i class="bi bi-check"></i>
                                                  <!-- </i> -->
                                             </div>
                                        </div>
                                   </div>
                                   <h1 class="mt-1 mb-3">2.382</h1>
                                   <div class="mb-0">
                                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                        <span class="text-muted">Since last week</span>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                         <div class="card border-0 mt-4">
                              <div class="card-body">
                                   <div class="row">
                                        <div class="col mt-0">
                                             <h5 class="card-title">Evenimente active</h5>
                                        </div>
                                        <div class="col-auto">
                                             <div class="stat text-primary">
                                                  <i class="bi bi-calendar-check align-middle"></i>
                                             </div>
                                        </div>
                                   </div>
                                   <h1 class="mt-1 mb-3">14.212</h1>
                                   <div class="mb-0">
                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                                        <span class="text-muted">Since last week</span>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4">
                         <div class="card border-0 mt-4">
                              <div class="card-body">
                                   <div class="row">
                                        <div class="col mt-0">
                                             <h5 class="card-title">Profit</h5>
                                        </div>
                                        <div class="col-auto">
                                             <div class="stat text-primary">
                                                  <i class="bi bi-cash align-middle"></i>
                                             </div>
                                        </div>
                                   </div>
                                   <h1 class="mt-1 mb-3">MDL21.300</h1>
                                   <div class="mb-0">
                                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                                        <span class="text-muted">Since last week</span>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>