html,
body {
     height: 100%;
     margin: 0;
}

.wrapper {
     align-items: stretch;
     background: --bs-light-rgb;
     display: flex;
     width: 100%;
     height: 100vh;
     overflow: hidden;
}

.main {
     width: 100%;
     display: flex;
     flex-direction: column;
     height: 100vh;
     overflow: hidden;
}

.navbar {
     height: 65px;
     width: 100%;
     flex-shrink: 0;
}

     .navbar i {
          color: var(--bs-gray-700);
          font-size: 26px;
          cursor: pointer;
     }

.avatar {
     height: 40px;
     width: 40px;
}

#sidebar {
     min-width: 280px;
     max-width: 280px;
     height: 100vh;
     transition: all 0.35s ease-in-out;
     display: flex;
     flex-direction: column;
     flex-shrink: 0;
}

     #sidebar.collapsed {
          margin-left: -280px;
     }

@media (max-width: 768px) {
     #sidebar {
          margin-left: -280px;
     }

          #sidebar.expanded {
               margin-left: 0;
          }
}

#sidebar .user-profile-mobile {
     margin-top: auto;
}

.user-dropdown-menu {
     right: auto !important;
     left: -50px !important;
}

.content {
     background-color: var(--bs-gray-200);
     flex: 1;
     overflow-y: auto;
     display: flex;
     flex-direction: column;
}

.stat {
     align-items: center;
     background: #d3e2f7;
     border-radius: 50%;
     display: flex;
     height: 40px;
     justify-content: center;
     width: 40px;
}
